@media screen and (max-width:2000px) {
    body {
        background-color: black;
        color: white;
    }

    .column {
        width: 300px;
        float: left;
        padding: 30px;
    }
}


@media screen and (max-width: 768px) and (min-width: 600px) {
    body {
        background-color: black;
        color: white;
    }
}